@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Playfair+Display&display=swap');

body {
  width: 100%;
  height: 100%;
  font-family: 'Merriweather', serif;
  font-family: 'Playfair Display', serif;

  background-image: url(https://cdn.pixabay.com/photo/2018/08/12/18/42/dog-3601383_960_720.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}



h1 {
    font-size: 3rem;
    color: whitesmoke;
    text-align: center;
 }


 h1,
 p {
   margin-top: 0;
   margin-bottom: 0.5rem;
 }

 p {
  font-size: 1.125rem;
  text-align: center;
}

label {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
}

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.container {
  width: 100%;
  margin: 3.125rem auto 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

.header {
  padding: 0 0.625rem;
  margin-bottom: 1.875rem;
}